.fixed-plugin li > a,
.fixed-plugin .badge{
    transition: all .34s;
    -webkit-transition: all .34s;
    -moz-transition: all .34s;
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

.fixed-plugin{
    position: absolute;
    top: 180px;
    right: 0;
    width: 64px;
    background: rgba(0,0,0,.3);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
}
.fixed-plugin .fa-cog{
    color: #FFFFFF;
    padding: 10px;
    border-radius: 0 0 6px 6px;
    width: auto;
}
.fixed-plugin .dropdown-menu{
    right: 80px;
    left: auto;
    width: 290px;
    border-radius: 10px;
    padding: 0 10px;
}
.fixed-plugin .dropdown-menu:after, .fixed-plugin .dropdown-menu:before{
    right: 10px;
    margin-left: auto;
    left: auto;
}
.fixed-plugin .fa-circle-thin{
    color: #FFFFFF;
}
.fixed-plugin .active .fa-circle-thin{
    color: #00bbff;
}

.footer-dropdown{
	top: -120px !important;
}

.footer-dropdown:before, .footer-dropdown:after{
	top: 300px !important;
}

.fixed-plugin .dropdown-menu > .active > a,
.fixed-plugin .dropdown-menu > .active > a:hover,
.fixed-plugin .dropdown-menu > .active > a:focus{
    color: #777777;
    text-align: center;
}

.fixed-plugin img{
    border-radius: 0;
    width: 100%;
    max-height: 175px;
    margin: 0 auto;
}

.fixed-plugin .badge{
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    width: 23px;
}
.fixed-plugin .badge.active,
.fixed-plugin .badge:hover{
    border-color: #00bbff;
}

.fixed-plugin .badge-white{
    background-color: #FFFFFF;
}
.fixed-plugin .badge-black{
    background-color: #1DC7EA;
}
.fixed-plugin .badge-azure{
    background-color: #1DC7EA;
}
.fixed-plugin .badge-green{
    background-color: #87CB16;
}
.fixed-plugin .badge-orange{
    background-color: #FFA534;
}
.fixed-plugin .badge-purple{
    background-color: #9368E9;
}
.fixed-plugin .badge-red{
    background-color: #FB404B;
}
.fixed-plugin h5{
    font-size: 14px;
    margin: 10px;
}
.fixed-plugin .dropdown-menu li{
    display: block;
    padding: 5px 2px;
    width: 25%;
    float: left;
}

.fixed-plugin li.adjustments-line,
.fixed-plugin li.header-title,
.fixed-plugin li.button-container{
    width: 100%;
    height: 50px;
    min-height: inherit;
}
.fixed-plugin .pro-title{
    margin: 10px 0 5px 0;
    text-align: center;
}

.fixed-plugin #sharrreTitle{
    text-align: center;
    padding: 10px 0;
    height: 50px;
}

.fixed-plugin li.header-title{
    height: 30px;
    line-height: 40px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.fixed-plugin .adjustments-line p{
    float: left;
    display: inline-block;
    margin-bottom: 0;
    font-size: 1em;
}
.fixed-plugin .adjustments-line .switch{
    float: right;
}
.fixed-plugin .dropdown-menu > li.adjustments-line > a{
      padding-right: 0;
      padding-left: 0;
      border-bottom: 1px solid #ddd;
      margin: 0;
}
.fixed-plugin .dropdown-menu > li > a.img-holder{
      font-size: 16px;
      text-align: center;
      border-radius: 10px;
      background-color: #FFF;
      border: 3px solid #FFF;
      padding-left: 0;
      padding-right: 0;
      opacity: 1;
      cursor: pointer;
      max-height: 86px;
      overflow: hidden;
      padding: 0;
}

.fixed-plugin .dropdown-menu > li > a.switch-trigger:hover,
.fixed-plugin .dropdown-menu > li > a.switch-trigger:focus{
    background-color: transparent;
}
.fixed-plugin .dropdown-menu > li:hover > a.img-holder,
.fixed-plugin .dropdown-menu > li:focus > a.img-holder{
    border-color: rgba(0, 187, 255, 0.53);;
}
.fixed-plugin .dropdown-menu > .active > a.img-holder,
.fixed-plugin .dropdown-menu > .active > a.img-holder{
    border-color: #00bbff;
    background-color: #FFFFFF;
}

.fixed-plugin .dropdown-menu > li > a img{
    margin-top: auto;
}

.fixed-plugin .btn-social{
    width: 50%;
    display: block;
    width: 48%;
    float: left;
    font-weight: 600;
}
.fixed-plugin .btn-social i{
    margin-right: 5px;
}
.fixed-plugin .btn-social:first-child{
    margin-right: 2%;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    opacity: 1;
}


@media (min-width: 992px){
    .fixed-plugin .dropdown .dropdown-menu{
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -o-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);
         top: 27px;
         opacity: 0;

         transform-origin: 0 0;
    }
    .fixed-plugin .dropdown.open .dropdown-menu{
         opacity: 1;

         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -o-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         transform: translateY(-50%);

         transform-origin: 0 0;
    }

    .fixed-plugin .dropdown-menu:before,
    .fixed-plugin .dropdown-menu:after{
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        width: 16px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);

    }
    .fixed-plugin .dropdown-menu:before{
        border-bottom: 16px solid rgba(0, 0, 0, 0);
        border-left: 16px solid rgba(0,0,0,0.2);
        border-top: 16px solid rgba(0,0,0,0);
        right: -16px;
    }

    .fixed-plugin .dropdown-menu:after{
        border-bottom: 16px solid rgba(0, 0, 0, 0);
        border-left: 16px solid #FFFFFF;
        border-top: 16px solid rgba(0,0,0,0);
        right: -15px;
    }

    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }

    .fixed-plugin{
        top: 300px;
    }

}

@media (max-width: 991px){
    .fixed-plugin .dropdown-menu{
        right: 60px;
        width: 220px;
    }
    .fixed-plugin .dropdown-menu li{
        width: 50%;
    }

    .fixed-plugin li.adjustments-line,
    .fixed-plugin li.header-title,
    .fixed-plugin li.button-container{
        width: 100%;
        height: 55px;
        min-height: inherit;
    }

    .fixed-plugin .adjustments-line .switch{
        float: right;
        margin: 0 0px;
    }

    .fixed-plugin li.header-title{
        height: 40px;
    }
    .fixed-plugin .dropdown .dropdown-menu{
        top: -170px;
    }
}

.btn-social {
  opacity: 0.85;
  padding: 8px 9px;
}
.btn-social .fa {
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
}
.btn-social.btn-round {
  padding: 9px 10px;
}
.btn-social.btn-simple {
  padding: 9px 5px;
  font-size: 16px;
}
.btn-social.btn-simple .fa {
  font-size: 20px;
  position: relative;
  top: -2px;
  width: 24px;
}

.btn-facebook {
  border-color: #3b5998;
  color: #3b5998;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .btn-facebook.dropdown-toggle {
  background-color: transparent;
  color: #3b5998;
  border-color: #3b5998;
  opacity: 1;
}
.btn-facebook:disabled,
.btn-facebook[disabled],
.btn-facebook.disabled {
  background-color: transparent;
  border-color: #3b5998;
}
.btn-facebook.btn-fill {
  color: #ffffff;
  background-color: #3b5998;
  opacity: 0.9;
}
.btn-facebook.btn-fill:hover,
.btn-facebook.btn-fill:focus,
.btn-facebook.btn-fill:active,
.btn-facebook.btn-fill.active,
.open > .btn-facebook.btn-fill.dropdown-toggle {
  background-color: #3b5998;
  color: #ffffff;
  opacity: 1;
}
.btn-twitter {
  border-color: #55acee;
  color: #55acee;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open > .btn-twitter.dropdown-toggle {
  background-color: transparent;
  color: #55acee;
  border-color: #55acee;
  opacity: 1;
}
.btn-twitter:disabled,
.btn-twitter[disabled],
.btn-twitter.disabled {
  background-color: transparent;
  border-color: #55acee;
}
.btn-twitter.btn-fill {
  color: #ffffff;
  background-color: #55acee;
  opacity: 0.9;
}
.btn-twitter.btn-fill:hover,
.btn-twitter.btn-fill:focus,
.btn-twitter.btn-fill:active,
.btn-twitter.btn-fill.active,
.open > .btn-twitter.btn-fill.dropdown-toggle {
  background-color: #55acee;
  color: #ffffff;
  opacity: 1;
}

@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

/* Login */
.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    background-color: rgba(203, 203, 210, 0.15)
}

.login > * {
    width: 100%;
}

/* Typeahead */
.rbt.open .form-control {
    border-radius: 4px;
    border-bottom-color: #E3E3E3;
}

.rbt.open .form-control:focus {
    border-bottom-color: #AAAAAA;
}

.rbt .dropdown-menu {
    z-index: 1000;
    padding: 5px 0;
    margin: 2px 0 0;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.rbt > .rbt-input-hint-container .rbt-input-hint {
    height: 40px;
}

.rbt .rbt-input-multi .rbt-input-hint {
    height: 22px;
}

.rbt .dropdown-menu > li > a {
    border-radius: 0px;
}

.rbt-highlight-text {
    font-size: 15;
}

.rbt-input-multi .rbt-token {
    color: inherit;
    background: rgba(0, 0, 0, 0.08);
}

.rbt-input-hint-container .rbt-input-main::placeholder {
    color: #dddddd;
}

.rbt-input-multi.form-control  .rbt-input-main {
    height: 22px;
}

.rbt-input-multi.form-control.focus {
    box-shadow: none;
    border-color: #AAAAAA;
    outline: 0;
}

/* Custom Buttons */
.btn-ml {
    margin-left: 5px;
}
.btn-mr {
    margin-right: 5px;
}

/* Modal PDF Viewer */
.modal-pdf-viewer {
    width: 90%;
}
.modal-pdf-viewer .modal-body {
    height: calc(100% - 195px);
}
.modal-pdf-viewer .modal-body iframe {
    width: 100%;
    height: 100%;
}

/* Interactive Table */
.interactiveTable {
    border: 1px solid #ddd;
    border-radius: 4px;
    border-collapse: separate;
}
.interactiveTable>thead>tr>th {
    border-bottom: none;
}

.interactiveTable>tbody>tr:hover>td:first-child {
    padding-left: 14px;
    border-left: 1px solid #ddd;
}
.interactiveTable>tbody>tr:hover>td:last-child {
    padding-right: 14px;
    border-right: 1px solid #ddd;
}
.interactiveTable>tbody>tr:last-child:hover>td {
    border-bottom: 1px solid #ddd;
    padding-bottom: 11px;
}
.interactiveTable>tbody>tr:last-child:hover>td:first-child {
    border-bottom-left-radius: 4px;
}
.interactiveTable>tbody>tr:last-child:hover>td:last-child {
    border-bottom-right-radius: 4px;
}

.interactiveTable .actionIcon {
    font-size: 20px;
    cursor: pointer;
    margin-top: -4px; 
    color: #9A9A9A;
}
.interactiveTable .actionIcon.newRow:hover {
    color: #1DC7EA;
}
.interactiveTable .actionIcon.deleteRow {
    font-size: 20px;
}
.interactiveTable .actionIcon.deleteRow:hover {
    color: #FF4A55;
}

/* React Select */

.react-select .react-select__control {
    height: 40px;
    border-radius: 4px;
    border-color: #E3E3E3;
    transition: all 300ms linear;
}

.react-select .react-select__control:hover {
    border-color: #E3E3E3;
}

.react-select .react-select__control--is-focused {
    border-color: #AAAAAA;
    box-shadow: none;
}

.react-select .react-select__control--is-focused:hover {
    border-color: #AAAAAA;
}

.react-select .react-select__control .react-select__placeholder {
    color: #dddddd;
}

.react-select .react-select__indicator svg {
    height: 16px;
    width: 18px;
    color: #ccc;
    transition: all 300ms linear;
}

.react-select .react-select__indicator svg:hover {
    color: #333;
}

.react-select .react-select__control--is-focused .react-select__indicator svg {
    color: #333;
}

.react-select .react-select__menu {
    z-index: 100;
}

.react-select .react-select__option.react-select__option--is-focused {
    background-color:  #f5f5f5;
}

.react-select .react-select__option.react-select__option--is-selected {
    background-color: #e5e5e5;
    font-weight: bold;
    color: #333;
}

.react-select .react-select__option {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

/* Datepickers */

.datepicker .input-group-addon svg {
    fill: currentColor;
}
.datepicker .input-group-addon {
    color: #ccc;
    padding-left: 0;
}
.datepicker .input-group-addon:hover {
    color: #333;
}
.datepicker .form-control:focus ~ .input-group-addon {
    color: #333;
}
.datepicker .input-group-addon .actionIcon {
    font-weight: bold;
}

/* Layout (TODO) */
.card .content {
    padding: 15px 30px 10px 30px;
}
.card form [class*="col-"] {
    padding: 6px !important;
}

.main-panel {
    min-height: 100vh;
    width: calc(100% - 220px);
}

.modal {
    zoom: 95%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 220px;
}
.sidebar .nav p {
    font-size: 11px;
}
.sidebar .sidebar-wrapper {
    width: 220px;
}

.sidebar .logo {
    padding: 10px 35px 10px 25px;
}
.sidebar .logo-text {
    text-align: center;
    font-size: 0.8em;
}
.sidebar .logo-text > * {
    display: block;
}
.sidebar .logo-text strong {
    font-size: 1.5em;
    margin-top: -10px;
}

.navbar {
    font-size: 14px;
}

.control-label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #9A9A9A;
}

.card form [class*="col-"]:first-child {
    padding-left: 25px !important;
}

.btn-primary, .btn-primary:focus, .btn-primary:active {
    border-color: #424242; 
}
.btn-primary.btn-fill, .btn-primary.btn-fill:focus, .btn-primary.btn-fill:active {
    background-color: #424242;
}
.btn-primary:hover, .btn-primary:active:hover {
    border-color: #1da1f2; 
}
.btn-primary.btn-fill:hover {
    background-color: #1da1f2;
}
.btn-danger, .btn-danger:focus, .btn-danger:active {
    border-color: #ac002b; 
}
.btn-danger.btn-fill, .btn-danger.btn-fill:focus, .btn-danger.btn-fill:active {
    background-color: #ac002b;
}
.btn-danger:hover, .btn-danger:active:hover {
    border-color: #ac002b; 
}
.btn-danger.btn-fill:hover {
    background-color: #ac002b;
}

.header-profile-image {
    height: 30px;
    margin: -10px 10px -5px 0;
    border-radius: 30px;
}

/* Loading Icon */
.loadingIcon {
    color: hsl(0,0%,40%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 4px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}
.loadingDot {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: react-select-loading-indicator;
    animation-name: react-select-loading-indicator;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    background-color: hsl(0,0%,20%);
    border-radius: 1em;
    display: inline-block;
    vertical-align: top;
}
.loadingDot:nth-child(2) {
    -webkit-animation-delay: 160ms;
    animation-delay: 160ms;
    margin-left: 1em;
}
.loadingDot:nth-child(3) {
    -webkit-animation-delay: 320ms;
    animation-delay: 320ms;
    margin-left: 1em;
}

/* Filter Form */
.filterForm {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}
.filterForm::before, .filterForm::after {
    display: table;
    content: " ";
}
.filterForm::after {
    clear: both;
}
.filterForm .form-group {
    margin-bottom: 0px;
}
.filterForm .control-label {
    margin-bottom: 0px;
}

/* Sidebar */
.sidebar .logo a.logo-mini {
    width: 100%;
    float: none;
}
.sidebar .logo a.logo-mini .logo-img {
    width: 100%;
    height: 50px;
}
.sidebar .logo a.logo-mini .logo-img img{
    width: 100%;
    margin: auto;
    padding-right: 15px;
}

/* Control Sublabel */
.control-sublabel {
    text-transform: uppercase;
    font-size: 85%;
    margin-top: -5px;
    margin-bottom: 5px;
}

/* Landing Page */
.landingPage {
    height: 100vh;
    background-color: #00000080;
    background-image: url("../img/glowing-futuristic-network.png");
    background-size: cover;
}

.landingPage .jumbotron {
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #00000080;
    color: white;
    margin: 0;
}

.landingPage h1 {
    margin-top: 10px;
    font-size: 3.5em;
    font-weight: 400;
}

.landingPage h2 {
    margin: 30px 0px;
    font-size: 1.8em;
}

.landingPage strong {
    font-weight: 400;
}

.landingPage button {
    padding: 12px;
}

.landingPage button i {
    margin-right: 5px;
}

/* Tweets */
@keyframes tweet-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.tweet{
    animation-name: tweet-in;
    animation-duration: 1s;
    overflow: hidden;
}

.tweet.animated{
    animation-duration: 2s;
}

.tweet .profileImage {
    position: absolute;
    top: 10px;
    left: 25px;
    border: 1px solid #eee;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
}

.tweet .content {
    margin: 0;
    padding: 0;
    height: 148px;
}

.tweet hr {
    margin: 10px 0;
}

.tweet .header {
    padding: 15px 12px 0px 82px;
}

.tweet .header .username {
    margin-left: 5px;
    color: #657786;
}

.tweet .message {
    padding: 0px 12px 15px 82px;
}
.tweet .message p {
    font-size: 1em;
    margin: 0;
}

/* Content Tabs */

.content-tabs > .tabs-container {
    margin: 0 15px;
}

.content-tabs > .active-tab {
    padding: 30px 0px;
}

.content-tabs > .tabs-container > .nav-tabs {
    background: #424242;
    border: none;
    border-radius: 4px;
    padding: 8px;
}
.content-tabs > .tabs-container > .nav-tabs > li > a {
    color: #fff;
    border-radius: 4px;
    border: none;
    -webkit-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
    font-size: 12px;
    font-weight: 600;
}
.content-tabs > .tabs-container > .nav-tabs > li.active > a {
    color: #fff;
    border: none;
    background: #ffffff3b !important;
}
.content-tabs > .tabs-container > .nav-tabs > li > a:hover {
    color: #fff;
    border: none;
    background: #ffffff21;
}

.content-tabs.edit > .tabs-container > .nav-tabs > li:last-child > a {
    background: #6e6e6e;
    font-size: 1.2em;
    padding: 7px 15px;
}

/* Inner Tabs */

.inner-tabs {
    margin-top: -15px;
}

.inner-tabs .nav-tabs {
    margin: 10px auto 20px auto;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.inner-tabs .nav-tabs > li {
    border: none;
}

.inner-tabs .nav-tabs > li > a {
    border: none;
    margin: 0;
    height: 46px;
    padding-top: 12px;
    color: black;
    border-bottom: 0px solid #1DA1F2;
    transition: border-bottom 0.15s ease-in
}

.inner-tabs .nav-tabs > li > a strong {
    margin-left: 10px;
}

.inner-tabs .nav-tabs > li > a:hover {
    border: none;
    border-bottom: 3px solid #1DA1F2;
    margin: 0;
}
.inner-tabs .nav-tabs > li.active > a {
    border: none;
    border-bottom: 3px solid #1DA1F2;
    margin: 0;
}

/* Board Actions */

.board-actions {
    position: absolute;
    top: 15;
    right: 30px;
}

.board-actions .btn  {
    font-size: 1em;
    padding: 8px;
    border-radius: 20px;
    margin-left: 5px;
    transition: all 0.15s ease-in;
    border-color: #424242; 
    background-color: #424242;
}

.board-actions .btn:active,.board-actions .btn:focus {
    border-color: #424242; 
    background-color: #424242;
}

.board-actions .btn.btn-primary:hover {
    border-color: #1da1f2; 
    background-color: #1da1f2;
}


.board-actions .btn.btn-danger:hover {
    border-color: #ac002b; 
    background-color: #ac002b;
}

.btn-instruction {
    padding: 1px 6px;
    background-color: #6e6e6e;
    margin: 0px 5px;
    border-radius: 4px;
    color: white;
    position: relative;
    bottom: 2px;
}

/* CRUD */

.crud .form-group {
    margin-bottom: 5px;
}

.node-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.node {
    padding: 5px 10px;
    margin: 0 10px 10px 10px;
    display: inline-block;
    border-radius: 30px;
    color: white;
    background-color: #1da1f2;
}

.node i {
    margin-left: 5px;
    margin-right: -2px;
    font-size: 1.1em;
    position: relative;
    top: 2px;
    border-radius: 20px;
    background-color: none;
    color: white;
    transition: all 0.15s ease-in;
}

.node i:hover{
    background-color: white;
    color: black;
}

.space-between-fix {
    flex-grow: 1;
    height: 0;
}

.add-btn {
    height: 40px;
    margin: 22px 0 0 -6px;
}

/* UserCRUD */
.node .username {
    margin-left: 5px;
}